{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}


{% block content %}
    <!-- carrucel-->
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                
                <img src="{% static 'core/img/ofertas 2.jpeg' %}" class="d-block w-100" alt="Helldivers 2">
                <div class="carousel-caption">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/minecraft_post.webp' %}" class="d-block w-100" alt="Stardew Valley">
                <div class="carousel-caption">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'core/img/ofertas.png' %}" class="d-block w-100" alt="Hades II">
                <div class="carousel-caption">
                    <h5</h5>
                    <p></p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>

    <div id="container-juegos" class="container">
        <!-- Primera fila de tarjetas -->
        <div class="row">
            {% for producto in productos %}
                <div id="ark_survival_evolved" class="col p-2 col-sm-12 col-md-6 col-lg-4">
                    <div class="card">
                        <img src="/media/{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">
                        <div class="card-body">
                            <h5 class="card-title green-text">{{ producto.html_estado|safe }}</h5>
                            <h5 class="card-title">{{ producto.nombre }}</h5>
                            <p class="card-text blue-text">{{ producto.html_precio|safe }}</p>
                            <p class="card-text">{{ producto.descripcion }}</p>
                            <p class="card-text green-text">{{ producto.html_stock }}</p>
                            <a href="{% url 'ficha' producto.id %}" class="btn btn-primary">Ver ficha</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
{% endblock content %}
<img src="/media/{{ producto.imagen }}" class="card-img-top" alt="{{ producto.nombre }}">