{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/premio.css' %}">
{% endblock stylesheet %}
{% block content %}
<div class="container mt-4">
    <div id="product-container" class="row">
        <!-- Las tarjetas de productos se cargarán aquí -->
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'core/js/premio.js' %}"></script>
{% endblock script %}